
body {
    background: rgb(247, 247, 247); /* fallback for old browsers */

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.menu {
    display: inline-block;
    position: fixed;
    z-index: 10;
    width: 100%;
    min-height: 60px;
}

.section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 100%;
    color: rgba(0, 0, 0, .7);
}

.main {
    background: url("images/cabinet_podologie_posturologie_cactus.jpg") fixed;
    background-size: cover;
    color: #3b002d;
}

h1, h2 {
    margin-bottom: 40px;
}

p {
    font-size: larger;
}