
body {
    background: white; /* fallback for old browsers */

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
}

.menu {
    display: inline-block;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 100%;
}

.main {
    background: url("images/cabinet_podologie_posturologie_cactus.jpg") fixed;
    background-size: cover;
}

.bis {
    background-color: rgba(255, 255, 255, .22);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .22);
}

.horizontal {
    display: flex;
    flex-direction: row;
}

p {
    font-size: larger;
}