
body {
    background: #649173; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #649173); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Catamaran', sans-serif;
    font-weight: 200;
    color: #ffffff;
}

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bis {
    background-color: white;
    color: black;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

p {
    font-size: larger;
}